@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.progress-bar {
  height: 5px;
  background-color: blueviolet;
  margin-top: 20px;
}

.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.img-wrap {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  padding: 50% 0;
  opacity: 0.8;
}

.img-wrap img {
  min-width: 25%;
  min-height: 25%;
  max-width: 90%;
}
